# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/cache
/logs
/out
/.idea

# Exclude toplevel, currently used configuration file
# Documented template resides in bin/.testprio
/.testprio
